<div class="admin-dashboard">
  <div class="card user-table-gadget">
    <h2 class="card-title">Gestión de Usuarios</h2>

    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn-danger" (click)="deleteUser(user.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="form-title">Añadir Usuario</h3>
    <form (ngSubmit)="addUser()" #userForm="ngForm" class="add-user-form">
  <input type="text" placeholder="Nombre" [(ngModel)]="newUser.nombre" name="name" required>
  <input type="email" placeholder="Email" [(ngModel)]="newUser.email" name="email" required>

  <input type="password" placeholder="Contraseña" [(ngModel)]="newUser.contrasena" name="password" required>
  <input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="newUser.confirmar_contrasena" name="confirmPassword" required>

  <div *ngIf="newUser.confirmar_contrasena && passwordsDontMatch" class="error-msg">
    Las contraseñas no coinciden
  </div>

  <button type="submit" 
          [disabled]="!userForm.form.valid || passwordsDontMatch" 
          class="btn-accent">
    Añadir
  </button>
</form>


  </div>
</div>
